<!--  how to use css in python_ flask-->
<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href='/static/main.css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  <div class="top">
    Defect Analysis Dashboard
  </div>
  <div class="sidebar">
    <a href="{{ url_for('home') }}">
      <i class="fas fa-home"> Home</i>
    </a>
    <a href="{{ url_for('stats') }}" class="active">
      <i class="fas fa-chart-line"> Stats</i>
    </a>
    <a href="{{ url_for('settings') }}">
      <i class="fas fa-cogs"> Settings</i>
    </a>
  </div>
  <div class="main">
    <h3 style="text-align:center;"><strong>INFO FROM STATS</strong></h3>
  </div>
</html>